<section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <p>Out of Zion, the perfection of beauty God hath shined.</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="../assets/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              The mission of the church is the work of the Holy Spirit.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="../assets/img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              We preach that we may present every man in Christ Jesus.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="../assets/img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Men, women and children get in touch with the living God.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->
